<div class="container">
  <mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">FontEnd</button>
    <button mat-menu-item>BackEnd</button>
  </mat-menu>

  <button
    mat-stroked-button
    class="me-2"
    [matMenuTriggerFor]="appMenu"
    color="primary"
  >
    Menu
  </button>

  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
  </mat-menu>

  <!-- Changing Content dynamically -->
  <mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-hobby="hobby">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Log out {{ name }}</button>
      <button mat-menu-item>{{ hobby }}</button>
    </ng-template>
  </mat-menu>

  <button
    [mat-menu-trigger-for]="lazyMenu"
    mat-stroked-button
    [matMenuTriggerData]="{ name: 'xiaoting', hobby: 'dancer' }"
    color="primary"
    class="me-2"
  >
    LzayMenu
  </button>
  <button
    [mat-menu-trigger-for]="lazyMenu"
    [matMenuTriggerData]="{ name: 'Karina', hobby: 'prettying' }"
    mat-stroked-button
    color="primary"
  >
    LzayMenu2
  </button>
</div>
