<div class="container">
  <!-- Accordion Close other panel except the opend one -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Augular Material</mat-panel-title>
        <mat-panel-description>Good</mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum itaque
        perferendis voluptatum cupiditate nihil, veniam velit sint aliquam in
        vel quis, beatae suscipit. Nemo, ipsam expedita! Ex voluptatum sunt
        perspiciatis!
      </p>
      <mat-action-row>
        <button mat-button>Submit</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Augular UI Component Library</mat-panel-title>
        <mat-panel-description>Good</mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is Description</p>
      <mat-action-row>
        <button mat-button>Submit</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
